﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Updating Master for Jira </p>

<p> <b> Customer1_Hotfix_2</b></p>

